<div class="row">
  <div class="col-xs-12 col-sm-3">
    <span>
      Restaurant
    </span>
    <span>
      {{reservation.restaurant.name}}
    </span>
  </div>
  <div class="col-xs-12 col-sm-5">
    <span>
      Reserved For
    </span>
    <span>
      {{time-format reservation.reservedOn}}
      {{date-format reservation.reservedOn}}
    </span>
  </div>
  <div class="col-xs-12 col-sm-4">
    <span>
      Max number of Guests
    </span>
    <span>
      {{reservation.table.numberOfChairs}}
    </span>
  </div>
</div>