@import "./bootstrap/bootstrap";

@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600";

* {
  font-family: "Source Sans Pro", sans-serif;
}


// TODO(kklisura): This should be refactored away!
html, body, body > .ember-view {
  height: 100%;
}

#wrap {
  background-color: #f9f9f9;
  min-height: 100%;
}

  .white-wrapeer {
    background-color: #fff !important;
  }

#main {
  /*overflow: auto;*/
  padding-bottom: 230px;
}


@import "./components/navigation/page-navigation";
@import "./components/navigation/pagination";
@import "./components/footer/page-footer";
@import "./components/restaurants/filters";
@import "./components/restaurants/restaurant-tile";
@import "./components/home-popular-locations";

@import "./index";
@import "./login";
@import "./restaurant";
@import "./user";
